.fade{

animation:fade .5s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.pop{

transition:.3s;

}

.pop:hover{

transform:scale(1.03);

}