.dashboard{
display:flex;
min-height:100vh;
background:#0f172a;
}

.dashboard-content{
flex:1;
display:flex;
flex-direction:column;
overflow:hidden;
}

.dashboard-main{
flex:1;
padding:25px;
overflow:auto;
background:#0f172a;
}